RESEND_API_KEY=
RESEND_FROM_EMAIL=
CONTACT_RECEIVER_EMAIL=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
GITHUB_PROJECT_USERNAMES=Nana-Addo-d,NanaAddoDBa
GITHUB_TOKEN=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_CV_EN_URL=
NEXT_PUBLIC_CV_DE_URL=
NEXT_PUBLIC_CV_EN_UPDATED=
NEXT_PUBLIC_CV_DE_UPDATED=
